body{
    background-color:grey;
}

.wrapper {
    display: grid;
    /* max-width: 680px;
    margin: 0 auto; */
    grid-template-columns:
    1fr
    min(680px, 100%)
    1fr;
    text-align: center;
}

.wrapper > * {
    grid-column: 2;
}

.full-bleed {
    width: 100%; 
    grid-column: 1 / 4;
    margin: 0 auto;
    max-height: 50vh;
    object-fit:contain;
}
div
 {
    border: solid grey;
    padding: 50px 0;
   }